/Calculator/target/
/TabTracker/target/
/MapIndex/target/
/Testing/nbproject/private/
/Testing/dist/
/Testing/build/
/WordSort/nbproject/private/
/SuperChess/nbproject/private/
/SuperChess/build/
/WordSort/build/
/WordSort/dist/
/alphabetizer/alphabetizer/target/
/JavaFXPractice/nbproject/private/
/JavaFXPractice/build/
/JavaFXPractice/dist/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/dist/
/JavaFXApplication3/build/
/web-service/target/